



#main_content {width:100%;height:15vh;position:relative;margin-top:20px;}
#main_content_item{width:10%;float:left;margin-left:1%;}
#main_content_item img{width:100%;float:left;margin-left:1%;}


#contact1
{
	width:36vw;
	margin-left:37vw;
	margin-top:5vh;
	margin-top:5vh;
}

