body{background-color:#F0F0F0;}
#nav-question-class{background-color:#ffffff;}
#question-nav{background-color:#ffffff;margin-top:-48px;}
#question-list-picture{height:80px;width:80px;}
#question-list{background-color:#FFFFFF;border-top:1px solid #F0F0F0 ;margin-top:5px;}
.col-md-12 p{margin-top:10px;}
.text-color-999, .aw-placeholder, .category dl dd span, .aw-search-dropdown-list li > span, .aw-search-dropdown-list li.question a span, .aw-side-bar dd, .aw-question-comment-box .aw-mod-head .aw-notopic-sort, .aw-question-edit .aw-mod-body .pull-right, .aw-common-list .aw-question-replay-count, .aw-question-tags a, .aw-feed-list .aw-upload-file-list a, .aw-agree-by .aw-agree-by-show, .aw-agree-by .aw-user-name, .aw-my-notifications .aw-mod-head h2 span, .aw-my-notifications .aw-mod-body ul li.active span, .aw-publish-title-dropdown p span, .aw-side-bar-mod-publish .aw-side-bar-mod-body p, .aw-side-bar-mod-topic-edit .aw-side-bar-mod-body p, .aw-new-message-tips .aw-mod-head .pull-right, .aw-new-message-tips-close span, .aw-mod-search-result .aw-search-result-tags, .aw-publish-box .aw-publish-box-supplement, .aw-first-login .aw-mod-head ul li.active em, .aw-first-login .aw-complete-data .aw-complete-data-img span{color:#999;}
.aw-text-color-666, .aw-dropdown-menu ul a, .alert, .aw-nav-tabs > li.active a, .aw-user-nav-dropdown .aw-dropdown-menu  li > a, .aw-search-dropdown-list li a, .aw-search-dropdown-list li.question a span.active, .aw-comment-list, .aw-question-edit .aw-mod-body, .aw-question-tags a:hover, .aw-topic-content .aw-topic-title, .aw-edit-topic:hover, .aw-mod-invite-friend .aw-invite-box p, .aw-tabs ul li a, .aw-footer, .aw-card-tips, .aw-mod-replay-box .aw-mod-head p label, .markItUpPreviewFrame, .aw-404-wrap p, .aw-ie6 .pull-right p{color:#666;}
.aw-common-list .aw-question-replay-count em, .markItUpPreviewFrame .title, h1, h2, h3{color: #333;}
#question-top10,#recommend-question{background-color:#FFFFFF;border:1px solid #F0F0F0 ;margin-top:5px;}
#recommend-question{margin-top:5px;}



#question-comment-list-picture{height:40px;width:40px;}

#question-big-title,.col-md-12{background-color:#ffffff;}
#question-content{margin-top:5px;background-color:#ffffff;}
